@import "tailwindcss";
@plugin "daisyui";
 @plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
a.active {
  color: #2563eb; /* blue-600 */
  font-weight: bold;
  border-bottom: 2px solid #2563eb;
}